body {
  --green: rgb(28, 160, 134);
  background-color: var(--bg);
}

body.light {
  --bg: #ffffff;
  --header: var(--green);
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #1ca086;
  --hr: hsla(0, 0%, 0%, 0.2);
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1a1a1a;
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #282c35;
  /* --bg: #24272f; */
  /* --bg: #20232a; */
  /* --bg: #1c1e25; */
  /* --bg: #181a1f; */
  /* --bg: #14161a; */
  /* --bg: #101115; */
  --header: #ffffff;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: #ffffff;
  --textLink: var(--green);
  --hr: hsla(0, 0%, 100%, 0.2);
  --inlineCode-bg: hsl(222, 14%, 25%);
  --inlineCode-text: #e6e6e6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header) !important;
}

/*
  RTL layout
*/
body:lang(fa) article,
body:lang(ar) article {
  direction: rtl;
}

body:lang(fa) article pre,
body:lang(ar) article pre,
body:lang(fa) article .translations,
body:lang(ar) article .translations,
body:lang(fa) .language-text,
body:lang(ar) .language-text {
  direction: ltr;
}

/* Fixing parentheses issue in text */
body:lang(fa) .language-text,
body:lang(ar) .language-text {
  display: inline-block;
}

body:lang(fa) blockquote,
body:lang(ar) blockquote {
  border-left: unset;
  border-right: 0.32813rem solid hsla(0, 0%, 0%, 0.9);
  padding-right: 1.42188rem;
  padding-left: unset;
  margin-left: 0.75rem;
  margin-right: -1.75rem;
}

/* styles for Persian language */
body:lang(fa) article,
body:lang(fa) header > h1 {
  font-family: 'Vazir';
}
/* styles for Arabic language */
body:lang(ar) article,
body:lang(ar) header > h1 {
  font-family: 'Cairo', sans-serif;
}

body:lang(ko) header,
body:lang(ko) article {
  word-break: keep-all;
}

code[class*='language-'],
pre[class*='language-'] {
  color: white;
  background: none;
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  margin-bottom: 0;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  overflow: auto;
  padding: 1.3125rem;
}

pre[class*='language-']::-moz-selection {
  /* Firefox */
  background: hsl(207, 4%, 16%);
}

pre[class*='language-']::selection {
  /* Safari */
  background: hsl(207, 4%, 16%);
}

/* Text Selection colour */
pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  background: var(--inlineCode-bg);
  color: var(--inlineCode-text);
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
}

/* HTML: attributes */
.token.attr-name {
  color: rgb(173, 219, 103);
  font-style: italic;
  /* color: red; */
}

/* JS:HTML comment */
.token.comment {
  /* color: rgb(128, 147, 147); */
  color: #627e99;
  /* color: red; */
}

/* anything in quotes */
.token.string {
  color: #99a647;
  /* color: red; */
}

/* ? */
.token.url {
  /* color: rgb(173, 219, 103); */
  color: #568bbf;
  /* color: red; */
}

/* ? */
.token.variable {
  /* color: rgb(214, 222, 235); */
  color: #8b56bf;
  /* color: red; */
}

/* numbers */
.token.number {
  /* color: rgb(247, 140, 108); */
  color: #6288b0;
  /* color: red; */
}

/* start - previously one style */
.token.builtin {
  /* ? */
  color: rgb(130, 170, 255);
  /* color: red; */
}

/* ? */
.token.char {
  color: rgb(130, 170, 255);
  /* color: red; */
}

/* UPPERCASE CONSTANTS */
.token.constant {
  color: rgb(130, 170, 255);
  /* color: red; */
}

/* name of function */
.token.function {
  color: #ca6824;
  /* color: red; */
}
/* end - previously one style */

/* HTML:CSS:JS: {, }, (, ),  */
.token.punctuation {
  /* color: rgb(199, 146, 234); Dan */
  /* color: rgb(28, 160, 134); */
  color: #cbd6e2;
  /* color: red; */
}

/* CSS: selector */
.token.selector {
  color: #bf568b;
  /* color: red; */
}

/* HTML: DOCTYPE */
.token.doctype {
  /* color: rgb(199, 146, 234); Dan*/
  /* color: rgb(28, 160, 134); */
  color: #bf568b;
  font-style: 'italic';
  /* color: red; */
}

/* name of a js class */
.token.class-name {
  color: #ff0000;
  /* color: red; */
}

/* HTML: h1, div, img, etc */
.token.tag {
  color: #6288b0;
  /* color: red; */
}

/* +, =, </, <, >, => */
.token.operator {
  color: orange;
  /* color: red; */
}

/* var, let, const, function, return, import, from, class, extends */
.token.keyword {
  color: #95729f;
  /* color: red; */
}

/* JS: true, false */
.token.boolean {
  /* color: rgb(255, 88, 116); */
  /* color: rgb(28, 160, 134); */
  color: #bfbf56;
}

/* CSS: property name */
.token.property {
  /* color: rgb(128, 203, 196); */
  color: #8bbf56;
  /* color: red; */
}

/* not using yet */
.token.namespace {
  color: rgb(178, 204, 214);
  /* color: red; */
}

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}

/* Inline code */
/* :not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  background: var(--inlineCode-bg);
  color: var(--inlineCode-text);
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
} */

.gatsby-highlight-code-line {
  background-color: hsla(207, 95%, 15%, 1);
  display: block;
  margin-right: -1.3125rem;
  margin-left: -1.3125rem;
  padding-right: 1em;
  padding-left: 1.25em;
  border-left: 0.25em solid #ffa7c4;
}

.gatsby-highlight {
  margin-bottom: 1.75rem;
  margin-left: -1.3125rem;
  margin-right: -1.3125rem;
  border-radius: 10px;
  background: #011627;
  background: #001323;
  background: #00111f;
  background: #000f1b;
  background: #000d17;
  /* background: #000b13; */
  /* background: #00080f; */
  /* background: #232323; */
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

@media (max-width: 672px) {
  .gatsby-highlight {
    border-radius: 0;
  }
}

.gatsby-highlight pre[class*='language-'] {
  float: left;
  min-width: 100%;
}

.anchor {
  background-image: none;
}
